extends ../../../server/views/custom-element-layout

block head-extension
  - var title  = 'Magento product selector';

block content
  // Custom element HTML
  div.content
    h4.title
      span.text Loading ...
      span.clear
        button.btn.btn--secondary.btn--xs.clearbtn(style="display: none;") Clear
    div.selected
  div.search(style="display: none;")
    form.searchform
      input.searchterm.text-field__input
      button.btn.btn--primary.searchbtn Search
      button.btn.btn--secondary.clearsearchbtn Clear search
      img.logo(src="magento_logo.png", alt="Magento", title="Magento")
    div.results(style="display: none;")
